.icon {
  width: 1em;
  height: 1em;
  // vertical-align: -0.15em;
  margin: 0 0.5em 0 0;
  fill: currentColor;
  overflow: hidden;
  color: inherit;
}
.account {
  .icon {
    width: 20px;
    height: 20px;
    vertical-align: -3px;
  }
}
.text-title {
  .icon {
    margin: 0;
    font-size: $font-large;
  }
}
.card-title {
  .icon {
    font-size: $font-large;
    margin: 0;
  }
}
.iconloading {
  animation: rotating 1s linear infinite;
}
.input-icon {
  cursor: pointer;
  font-size: $icon-large-size;
  line-height: $icon-large-size;
  text-align: center;
}
